{% extends "base.html" %}
{% load static %}
{% block titulo %} Hogar {% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %} " type="text/css" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block BODY %}
<body style="background: url(https://s1.1zoom.me/big3/432/336982-svetik.jpg);
             background-repeat: no-repeat;
             background-size: 100vw 100vh;
             background-attachment: fixed;">
{% endblock %}

{% block script1 %}
<script src="/static/js/hogar.js"></script>

{% endblock %}





