<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Opiniones App</title>
        <link rel="stylesheet" href="principal-style.css">
    </head>
    <body>
        <header class="cabecera">
            <div class="datos_cabecera">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/9/98/Logos.svg"/>
                <select class="menu">
                    <option>Menu</option>
                    <option>Inicio</option>
                    <option>Perfil</option>
                    <option>Categorias</option>
                </select>
                <input class="buscador" type="text" name="Buscador" placeholder="Buscador..."/>
                <button class="login">Login</button>

            </div>
        </header>
        <select>

        </select>
    </body>
</html>