<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Opiniones App</title>
        <link rel="stylesheet" href="estilo.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        
        <header class="header">
            <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
                <div class="logo">
                    <h1>Logotipo</h1>
                </div>
                <nav class="menu">
                    <a href="#">Perfil</a>
                    <a href="#">Login</a>
                </nav>
            </div>
        </header>

        <div class="capa"></div>


    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">Portafolio</a>
                <a href="#">Servicios</a>
                <a href="#">Suscribirse</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Instagram</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>


    </body>
    </html>
    <!--<body>
        <header class="cabecera">
            <div class="datos_cabecera">
                
                <div class="btn-menu">
                    <label for="btn-menu" class="fas fa-bars"></label>
                </div>
                
                
                <input class="buscador" type="text" name="Buscador" placeholder="Buscador..."/>
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/9/98/Logos.svg"/>
                <button>Perfil</button>
                <button class="login">Login</button>
            </div>
        </header>
        <input type="checkbox" id="btn-menu"/>
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="#">FF</a>
                    <a href="#">aF</a>
                    <a href="#">dd</a>
                    <a href="#">ff</a>
                    <a href="#">54</a>
                </nav>
                <label for="" class="icon-equis"></label>
            </div>
        </div>
        <div>
            <section>
                <article>
                    
                </article>
            </section>
        </div>
        
    </body>-->
</html>