{% extends "base.html" %}
{% load static %}
{% block titulo %} Perfil de {{ user.username }} {% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %} " type="text/css" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block BODY %}
    <body style="background-repeat: no-repeat;
                background-size: 100vw 100vh;
                background-attachment: fixed;">
    <div class="centrado">
        <img id="fotoPerfil" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" width="200" height="120" ></br></br>
        Usuario:<p>{{ user.username }}</p></br>
        Rol: <p>{% for group in user.groups.all %} {{ group.name }} {% endfor %}</p></br>
        Correo:<p>{{ user.email }}</p></br>
        Último inicio de sesión:<p>{{ user.last_login }}</p></br>
        {% if request.user.groups.all.0.name == 'EMPRESAS' %}
        Tus productos:
        {% else %}
        Tus comentarios:
        {% endif %}
    </div>
{% endblock %}

{% block script1 %}
    {% if request.user.groups.all.0.name == 'EMPRESAS' %}
        <script src="{% static 'js/perfil2.js' %} "></script>
    {% else %}
        <script src="{% static 'js/perfil.js' %} "></script>
    {% endif %}
{% endblock %}






