<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Opiniones App</title>
        <link rel="stylesheet" href="static/css/estilo.css" type="text/css" media="screen" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header class="header">
            <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
                <div class="logo">
                    <h1>Logotipo</h1>
                </div>
                <nav class="menu">
                    <a href="perfil.html">Perfil</a>
                    <a href="#">Login</a>
                </nav>
            </div>
        </header>

        <div class="capa"></div>


    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">Comida y Bebida</a>
                <a href="#">Ropa y Maquillaje</a>
                <a href="#">Informatica</a>
                <a href="#">Mobiliario y Herramientas</a>
                <a href="#">Vehiculos</a>
                <a href="#">Servicios</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>


    <div class="centrado">
        <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" width="200" height="120" ></br></br>
        Usuario:<p></p></br>
        Correo:<p></p></br>
        DNI:<p></p></br>


    </div>

    </body>

</html>